@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
*{
    margin:0;
    padding:0;
    font-family: Belleza; color:rgb(9, 0, 80);
}
/* Dudas: ¿se puede usar la paleta? */
:root {
--color-celeste:rgb(205, 240, 234);
--color-blanco:rgb(249, 249, 249);
--color-rosado:rgb(246, 198, 234);
--color-amarillo:rgb(250, 244, 183);
}
header{
    display:flex;
    background-image: linear-gradient(to top,var(--color-blanco),var(--color-rosado));
    width: 100vw;
    justify-content: space-between;
}
main{
    background-image:url(./img/fondoPrincipal.jpg);
    height:min-content;
}
section logo{
    display:flex;
    align-items: center;
    justify-content: center;
    width:33vw;
}
.logoPrincipal{
    width:80%;
    height: 80%;
    margin-top: 10%;
    margin-left: 10%;
}
/* ¿Cómo cambiar los tamaños de letra para */
/* Al respecto de las barras de navegación. Se hicieron en columna para agrupar cosas que están más relacionadas:
la marca con la registración y el login con la cotización ¿es correcto o nos convenía hacerlas en fila? */

.barras{
    display:flex;
    justify-content: space-between;
    width:66vw;
}
.barra1{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2% 2%;
    margin-top:10%;
    max-width: 50%; 
}
a{
    text-decoration:none;
    
}
.caja1{
    display:flex;
    flex-direction:column;
    order:1;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    max-width: 100%;
      
}
.caja2{
    display:flex;
    flex-direction: column;
    order:0;
    max-width: 100%;
    font-size:100%;
}
.Título{
    align-items:center;
    text-align:center;
    max-width: 100%;
    font-size:100%;
}
.barra2{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2% 2%;
    margin-right: 5%;
    margin-top:10%;
    max-width: 50%;
}
.caja3 {
    display:flex;
    flex-direction: column;
}
.caja4{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: flex-end;
}
@keyframes aparece{
    0%{
        opacity:0;
        
    }
    100%{
        opacity:0.7;
    }}
@keyframes viene-oferta {

    0%{
       /*  opacity:0; */
        transform:translateX(-100vw);
        transform:rotate(0deg);
    }
    100%{
       /*  opacity:1 */
        transform:translateX(62vw);
        transform:rotate(360deg);
    }    
}
.secciónPrincipal{
    background-color:var(--color-rosado);
    display:flex;
}
.fondoPrincipal{
    display:flex;
    width:100vw;
    height: 100vh;
    height:min-content;
    animation-name:aparece;
    animation-duration: 2s; 
}
.oferta{
    background-color: var(--color-rosado);
    color:rgb(9, 0, 80);
    animation-name:viene-oferta;
    animation-duration: 5s;
    animation-timing-function:ease-out;
    border-radius:50%;
    border:2px solid var(--color-rosado);
    width: 10vw;
    z-index: 2;
    text-align: center;
    font-size:1rem;
    position: fixed;
    top:62vh;
    left:62vw;    
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:rgb(9, 0, 80);
    width: 100vw;
    padding:5% 10%;
}
footer a{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100vw;
    text-decoration: none;
}
.firma{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
}
footer{
    background-image: linear-gradient(to top,var(--color-rosado),var(--color-blanco));
    width: 100vw;
    justify-content: space-between;
}
/* Hay alguna forma de alinear mejor la caja 4 con la caja 2? */
/* ¿Cómo poner imágenes de forma tal que no se rompan? Recuerdo que debían ser png, creo, pero preguntar bien cómo convertirlas si las tenemos en jpeg */
/* Mayores problemas: alinear; que queden los marcos justo con el tamaño del visor, ni más ni menos, poner tamaños de fuente que se adapten siempre a la caja que los contiene */
/* Faltan los mediaQuery y los íconos */
/* Falta ver si vamos a hacer el carrusel o no */
/* Falta ver el tema de agregar el agente */