@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
*{
    margin:0;
    padding:0;
    font-family: Belleza; color:rgb(9, 0, 80);
    box-sizing: border-box;
}
/* Dudas: ¿se puede usar la paleta? */
:root {
--color-celeste:rgb(205, 240, 234);
--color-blanco:rgb(249, 249, 249);
--color-rosado:rgb(246, 198, 234);
--color-amarillo:rgb(250, 244, 183);
}
header{
    background-image: linear-gradient(to top,var(--color-blanco),var(--color-rosado));
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:3vh 5vw;
  
}
header nav{
    display: flex;
    gap:3vw;
    height: 40px;
    align-items: center;
     /* este puede ir o no porque en este caso, esta propiedad ya la heredó del padre. Ver bien en el video de la clase. */
}
header nav a{
    text-decoration: none;
}
h1{ font-size: 60px;}
h2{font-size: 30px;}
a{font-size: 20px;}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}
main{
    min-height:80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10vh;
    padding:10vh 3vw;
    background-color: snow
}
label{color:rgb(9, 0, 80);
font-size: 25px;
font-weight: 600;
margin-bottom: 10px;}

main form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:3vh;
}
.inputContainer{
   display: flex;
   flex-direction: column;
   text-align: left;

}
main form .inputContainer input,select{
    border: 2px solid #f0faf1;
    font-size:18px;
    padding: 10px;
    border-radius: 10px;    
    box-shadow: -3px 3px 7px 3px rgba(63, 63, 63, 0.25);
    outline: none;
}
 
.btn-registrar{
    background-color: rgb(252, 210, 217);
    color:var(--color-azul);
    padding:10px;
    border-radius:5px;
    border:1px solid rgb(30,30,30);
    font-size:20px;
    width:170px;
    cursor: pointer;
}

.btn-registrar:hover{
    transition: 1s ease-in-out;
    background-color:var(--color-blanco);
}

footer{
    background-image: linear-gradient(to top,var(--color-rosado),var(--color-blanco));
    padding:3vh 5vw; /* el footer suele ser sencillo porque hay que poner directamente el mismo padding que el header y no mucho más */
    text-align: center;
    color:var(--color-blanco);
}