@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
*{
    margin:0;
    padding:0;
    font-family: Belleza; color:rgb(9, 0, 80);
    box-sizing: border-box;
}
/* Dudas: ¿se puede usar la paleta? */
:root {
--color-celeste:rgb(205, 240, 234);
--color-blanco:rgb(249, 249, 249);
--color-rosado:rgb(246, 198, 234);
--color-amarillo:rgb(250, 244, 183);
}
header{
    display:flex;
    background-image: linear-gradient(to top,var(--color-blanco),var(--color-rosado));
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}
main{
    background-image:url(./img/fondoPrincipal.jpg);
    height:min-content;
    width:100vw;
}
section #logo{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20vw;
}
#logo{
    width:20vw;
}
/* ¿Cómo cambiar los tamaños de letra para */
/* Al respecto de las barras de navegación. Se hicieron en columna para agrupar cosas que están más relacionadas:
la marca con la registración y el login con la cotización ¿es correcto o nos convenía hacerlas en fila? */
.navegación{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
}
.barra{
    display:flex;
    justify-content: space-evenly;
    width:100%;
}
/* .barra1{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2% 2%;
    margin-top:10%;
    max-width: 50%; 
} */
.barra>a{
    text-decoration:none;
    font-size: 2vw; 
}
@keyframes aparece{
    0%{
        opacity:0;      
    }
    100%{
        opacity:0.7;
    }
}
@keyframes viene-oferta {

    0%{
       /*  opacity:0; */
        transform:translateX(-100vw);
        transform:rotate(0deg);
    }
    100%{
       /*  opacity:1 */
        transform:translateX(62vw);
        transform:rotate(360deg);
    }    
}
#secciónPrincipal{
    background-color:var(--color-rosado);
    display:flex;
}
#fondoPrincipal{
    display:flex;
    width:100vw;
    height: auto;
    height:min-content;
    animation-name:aparece;
    animation-duration: 2s; 
}
.productos{
    background-color: var(--color-blanco);
    display:flex;
    justify-content: space-around;
    align-items:center;
    height: 60vh;
    width: 100%;
}
.producto{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    width: auto;
}
.productos a img{
    height: 100%;
    width: auto;
}

.oferta{
    background-color: var(--color-rosado);
    color:rgb(9, 0, 80);
    animation-name:viene-oferta;
    animation-duration: 5s;
    animation-timing-function:ease-out;
    border-radius:50%;
    border:2vw solid var(--color-rosado);
    width: 10vw;
    z-index: 2;
    text-align:center;
    font-size:2vh;
    position: fixed;
    top:62vh;
    left:62vw;    
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:rgb(9, 0, 80);
    width: 100vw;
    margin-top: 2vh;
}
footer a{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100vw;
    text-decoration: none;
    font-size: 3vh;
}
.firma{
    width:100%
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    font-size: 2.5vh;
    margin-bottom: 2.5vh;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    background-image: linear-gradient(to top,var(--color-rosado),var(--color-blanco));
    width: 100vw;
    justify-content: space-between;
}
/* ¿Cómo poner imágenes de forma tal que no se rompan? Recuerdo que debían ser png, creo, pero preguntar bien cómo convertirlas si las tenemos en jpeg */
/* Mayores problemas: alinear; que queden los marcos justo con el tamaño del visor, ni más ni menos, poner tamaños de fuente que se adapten siempre a la caja que los contiene */
/* Faltan los mediaQuery y los íconos */
/* Falta ver el tema de agregar el agente */